---
import ProfileCheck from './icons/ProfileCheck.astro'
---
<h2 class="flex items-center gap-x-3 text-2xl text-white font-semibold mb-6">
  <a href="#sobre-mi">
    <ProfileCheck class='size-7 opacity-40' />
  </a>
  Sobre mí
</h2>
<div class="text-white/80 [&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
  <p>
    Me llamo Porfolio pero mis amigos me llaman porfolito. 
    Empecé en la programación con un Amstrad, tenía 10 años. 
    Actualmente estoy <strong>liderando equipos de desarrollo en multinacionales</strong>.
  </p>

  <p>
    Algunos de mis éxitos incluyen <strong>colaborar con Mozilla para el desarrollo de las primeras apps en su sistema FirefoxOS</strong>. 
    Aunque hoy está desaparecido fue un gran avance en el mundo del desarrollo web.
  </p>

  <p>
    Como creador de contenido, <strong>cuento con el canal de habla hispana más visto del mundo en la categoría de <em class="italic">Software & Game Development</em> en Twitch</strong>. 
    Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el acceso a contenido de calidad.
  </p>
</div>
