---
const currentYear = new Date().getFullYear()
---

<footer class="flex items-center justify-center w-full xl:w-[1120px] mx-auto px-5 py-5 gap-x-4">
  <div class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
    <span class="text-sm sm:text-center text-white/60">
      © {currentYear}
      <a href="/" class="hover:underline">Porfolio</a>. Casi todos los derechos reservados
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/60 sm:mt-0">
      <li>
        <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">
          Sobre mí
        </a>
      </li>
      <li>
        <a id="contacto" href="mailto:gmail@gmail.com" class="hover:underline">
          Contacto
        </a>
      </li>
    </ul>
  </div>
</footer>