<footer class="footer mx-auto max-w-5xl py-8 px-4 lg:py-16 lg:px-6">
  <nav class="footer-navbar">
     <ul class="flex flex-col gap-2 w-full text-center md:flex-row">
      <li class="link whitespace-nowrap">footer 1</li>
      <li class="link whitespace-nowrap">footer 2</li>
      <li class="link whitespace-nowrap">footer 3</li>
    </ul>
  </nav>
</footer>